.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(56, 2, 142, 0.944);
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 60px;
}

.sidebar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 8px, 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(84, 81, 81, 0.96);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgba(0, 72, 255, 0.958);
}

.sidebar .closebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}