<!DOCTYPE html>
<html lang="en">
<head>
    {# Configuracioens de la base.html #}
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
        <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
        <title>App</title>
    {% endblock %}
</head>
<body>
    {# Barra lataral del la pagina #}
    {% block sidebar %}
        <div id="Sidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebar" onclick="closeBar()">&times;</a>
            <a href="{{ url_for('match') }}">Match</a>
            <a href="{{ url_for('pits') }}">Pits</a>
        </div>
        <div id="main">
            <span onclick="openBar()">&#9776;</span>
        </div>
    {% endblock %}
    {# Cuerpo de la Pagina #}
    {% block main %}{% endblock %}
</body>
</html>